<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	    <!-- OpenGraph Tags -->
	    <meta property="og:title" content="FNT.H2o Crisis - Easy Online Forms and Information" />
	    <meta property="og:type" content="website" />
	    <meta property="og:image" content="https://s3.amazonaws.com/bbemail/PROD/email_thumbs/3a0d0270-d55a-77cb-bf96-da662b5b0952.jpg?r=12833" />
	    <meta property="og:url" content="http://bbemaildelivery.com/bbext/index.php?p=email&id=3a0d0270-d55a-77cb-bf96-da662b5b0952" />
	    <meta property="og:site_name" content="BombBomb" />

		<!-- swf object -->
	    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

	    <!-- application javacript functions -->
	    <script type="text/javascript" src="include/javascript/functions.js"></script>
	    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	    <script type="text/javascript" src="/app/include/javascript/landingPage.js"></script>
					<script type='text/javascript' src='/app/include/javascript/bb_forms.js'></script>
					<script type='text/javascript' src='/app/include/javascript/bb_forms_video.js'></script>

					<script type='text/javascript'>
						var bb_form_id = '50291f2b-9049-5348-d2e0-2721fc706d13';
						var bb_form_name = "Flint Water Donation Form";
						var bb_form_success_action = 'm';
						var bb_form_redir = '';
						var bb_required_field_ids = ["email"];
						var bb_form_user_id = 'be668896-28cd-6c42-3d5a-1e739a65d11a';
						form_arrival();
					</script>

	    <title>FNT.H2o Crisis - Easy Online Forms and Information</title>

	    <meta name="title" content="FNT.H2o Crisis - Easy Online Forms and Information"/>
	    <link rel="image_src" href="https://s3.amazonaws.com/bbemail/PROD/email_thumbs/3a0d0270-d55a-77cb-bf96-da662b5b0952.jpg?r=12833" />
	    
	    {% load staticfiles %}
	    <link href="{% static 'css/style.css' %}" rel="stylesheet">

	</head>



	<body>

	{% block content %}

	{% endblock %}
	</body>
</html>