body {
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    color: black;
}



a:hover {text-decoration: none;}

.share-buttons {
    color: #939393;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.share-buttons img {
    height: 2em;
}

.holder {
    border: 1px solid #d3d3d3;
    box-shadow: 0 15px 10px #777;
    padding: 30px;
    margin-bottom: 40px;
}

.banner {
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
}


.search-headline {
    margin-bottom: 1em;
}

.map-panel {
    margin-bottom: 5em;
}

#map-canvas {
    margin: 2em 0em;
    height: 50em;
}

.schedule-header {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.schedule-header h1 {
    font-weight: bold;
    color: black;
}

.region-button {
    margin: 0em 0em;
    border: 3px double;
    cursor: pointer;
    cursor: hand;
}

.region-button a {
    color: black;
}

.region-button h1 {
    font-weight: bold;
    font-size: 4.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.region-button h2 {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}


.distribute-header {
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em 0em;
}

.distribute-header h2 {
    font-size: 2.75em;
}

.twitter-icon img{
    margin-top: 1em;
    height: 4em;
}

.white-text {
    color: #ffffff;
}

.red-text {
    color: red;
}

.blue-text {
    color: #0000FF
}

.yellow-bg {
    background-color: #FCF978;
}

.lt-orange-bg {
    background-color: #FBCB77;
}

.orange-bg {
    background-color: #FF5A00;
}

.green-bg {
    background-color: #097C21;
}

.lt-green-bg {
    background-color: #79FB77;
}

.teal-bg {
    background-color: #096a7d;
}

.extra-lt-purple-bg {
    background-color: #AE96AC;
}

.lt-purple-bg {
    background-color: #B38CF6;
}

.purple-bg {
    background-color: #7C086D;
}

.dk-purple-bg {
    background-color: #57087D;
}
.maroon-bg {
    background-color: #7d0818;
}

.salmon-bg {
    background-color: #FC7778;
}

.blue-bg {
    background-color: #00A2FF;
}

.lt-blue-bg {
    background-color: #62F0FA;
}