
/* General page style */

body {
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    color: black;
}

a:hover {text-decoration: none;}


hr {
border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin: 4em auto;
}

.indent {
  text-indent: 3em;
}

code {
  color: black;
}

.photo-wrapper img {
  width: 100%;
}

.form-header {
  font-weight: bold;
  margin: 1em auto 2em auto;
}

.about-header {
  font-weight: bold;
  margin: 1em auto 1em auto;
}

.caption {
  margin-top: 1em;
  text-align: justify;
}


.white-text {
    color: #ffffff;
}

.blue-text {
    color: #286090
}


/* Header style */

.logo img {
  height: 100%;
}

.share-buttons {
    color: #939393;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.share-buttons img {
    height: 2em;
}

#nav-banner {
  width: 100%;
}

.banner {
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
}

.sms-subheader {
  padding: 1em;
  text-align: right;
}






/* Landing page style */

video {
  width: 100%;
  position: relative;
  z-index: 0;
}

.search-head-wrapper {
    width: 100%;
    margin-top: -25em;
    background-color: rgba(54,54,66,0.65);
    padding: 0em 0em 1em 0em;
}

.search-headline {
    color: #fff;
    font-size: 5em;
}

.search-subheadline {
    color: #fff;
}

.search-bar {
  margin-top: 8em;
}

.search-list-button-holder {
  margin-top: 7em;
  vertical-align: bottom;
}

.search-list-button {
  vertical-align: bottom;
}

.search-list-button button {
  margin: 0.25em 1em;
  white-space: normal;
  vertical-align: middle;
}

.map-panel {
    margin-bottom: 1em;
}

#map-canvas {
    margin: 1em 0em;
    height: 40em;
}

.user-buttons-holder {
  margin: 1em 10%;
}

.user-buttons-holder h3 {
  font-size: 1.5em;
  margin-top: 1em;
  min-height: 2.2em;
}

.user-button {
  font-size: 1.5em;
  margin: 0em 1em 0.8em 1em;
  border: 2px #b3b3b3 solid;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  cursor: hand;
}


.results-legend {
  margin-bottom: 2em;
}

.results-legend span {
  margin-left: 1em;
}

.todays-locations {
  margin-bottom: 2em;
  margin-top: 1em;
}

.todays-locations h3 {
  font-weight: bold;
  margin-bottom: 1em;
}

.location-result {
  background-color: #F2F2F2;
  padding: 1em;
  margin-bottom: 2em;
}

.location-name {
  color: #1d4568;
  margin-top: 0.5em;
  margin-bottom: 0em;
}

.location-address {
  color: #1d4568;
}

.icon-holder {
  margin-top: -1em;
}

.icon-holder .glyphicon {
  margin-bottom: 5px;
  margin-right: 0.5em;
}

.result-details {
  margin-top: 0.5em;
}

.result-details ul {
  list-style-type: none;
}

.result-details li {
  margin-left: -2em;
}

.confirmation-body {
  margin-top: 5em;
}

.yellow-bg {
    background-color: #FCF978;
}

.lt-green-bg {
    background-color: #79FB77;
}

.dk-purple-bg {
    background-color: #57087D;
}

.salmon-bg {
    background-color: #FC7778;
}

.lt-blue-bg {
    background-color: #62F0FA;
}

.blue-bg {
    background-color: #286090;
}

.dk-blue-bg {
  background-color: #173854;
}



/* Search page style */

.locations-table .schedule-entry  {
  padding: auto 0em;
}


/* Form style */

.submit-button-wrapper {
  margin: 2em 0em;
}

.submit-button-wrapper button {
  display: inline-block;
}

.form-subhead {
  margin: -2em 0em 2em -3em;
}

.form-group {
  margin-bottom: 2em;
}

.form-note {
  margin-top: 0.5em;
}

.schedule-select input, .schedule-select span {
  vertical-align: middle;
}

.checkbox-field label, .check-box-field input {
  display: inline-block;
}

.last-date {
  margin-top: 1em;
}


/* Individual Help Offer form style */

.volunteer-questions { 
  display: none;}

.donation-questions { 
  display: none;}

.parkandserve-questions { 
  display: none;}


/* Bootstrap navbar overrides */

.navbar-default {
  background-color: #286090;
  border-color: #223490;
  margin-bottom: 0px;
}
.navbar-default .navbar-brand {
  color: #f8feff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d3d8f0;
}
.navbar-default .navbar-text {
  color: #f8feff;
}
.navbar-default .navbar-nav > li > a {
  color: #f8feff;
  height: 4em;
  vertical-align: middle;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d3d8f0;
  background-color: #1d4568;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d3d8f0;
  background-color: #1d4568;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d3d8f0;
  background-color: #1d4568;
}
.navbar-default .navbar-toggle {
  border-color: #1d4568;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1d4568;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f8feff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f8feff;
}
.navbar-default .navbar-link {
  color: #f8feff;
}
.navbar-default .navbar-link:hover {
  color: #d3d8f0;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8feff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d3d8f0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d3d8f0;
    background-color: #1d4568;
  }


  .search-head-wrapper {
    margin-top: -14em;
    padding: 0em 0em 0.6em 0em;
  }

  .search-headline {
    font-size: 2.2em;
  }

  .search-subheadline {
    font-size: 2em;
  }

  #map-canvas {
    margin: 0.5em 0em;
    height: 20em;
  }

  .search-list-button-holder {
    margin-top: -1em;
  }

  #pac-input {
    background-color: #fff;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px !important;
  }

  .sms-subheader {
    text-align: center;
  }
}


/* Footer style */

footer {
  margin-top: 2em;
  background-color: #286090;
  color: white;
}

.copyright {
  margin-top: 1em;
}
.twitter-icon img{
    margin-top: 1em;
    height: 4em;
}



/* Google maps style */

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}