{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-2">
            <h1 class="about-header blue-text">What is H2OFlint?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec egestas eros. Pellentesque pharetra sagittis justo eget lobortis. Praesent varius congue metus, eget vehicula tortor imperdiet vitae. Maecenas ullamcorper at lectus euismod sagittis. Nullam auctor tempus libero vel tempus. Ut maximus vel libero vitae mollis. Donec cursus dui enim, at auctor odio accumsan in.</p>

            <p>Maecenas volutpat urna tortor, et lacinia leo auctor sed. Pellentesque a pellentesque nunc. Suspendisse vel finibus quam. Maecenas euismod, nunc at ullamcorper viverra, urna turpis tincidunt metus, id luctus nunc lacus sit amet dui. Vivamus bibendum libero non velit rutrum, id porttitor tellus efficitur. Pellentesque nunc sem, blandit maximus ultricies sed, elementum scelerisque quam. Etiam accumsan mollis scelerisque. In sapien purus, auctor sed porta nec, eleifend in diam. Sed nec lectus volutpat, consequat velit id, accumsan lectus. Pellentesque eu hendrerit tortor. Donec vel nisl finibus, fringilla risus ut, imperdiet massa. In in euismod nisl. Nullam laoreet sem in lobortis tincidunt. In ultricies commodo ante, at tristique ante varius in.</p>


        <h2>Who built this web app?</h2>
            <p>Morbi et risus ultricies, aliquet metus et, dignissim odio. Sed venenatis mauris nec neque posuere, eget accumsan erat fringilla. Aliquam ut aliquam ipsum. Vestibulum vulputate sit amet erat in dignissim. In eu facilisis enim, id tempus ligula. Mauris ac nunc orci. Maecenas sodales porta ligula quis sollicitudin. Pellentesque sed neque gravida magna consectetur bibendum sit amet et quam.</p>


        <h2>Who is this site for?</h2>
            <p>Proin porta vehicula ex ac semper. Aliquam in magna blandit, lacinia felis at, malesuada sapien. Sed fermentum placerat eros vitae cursus. Curabitur elit purus, congue in metus sit amet, dapibus condimentum nunc. Ut malesuada ac urna a gravida. Vivamus dictum quam lorem. Nullam luctus vestibulum ligula, lacinia hendrerit diam rutrum vitae. Phasellus semper leo eu ante consectetur imperdiet. Aliquam non ipsum quam. Nulla tellus neque, porttitor ac lacinia in, condimentum cursus lorem. Curabitur sit amet dictum enim. Duis scelerisque felis lectus, a tempor tellus hendrerit vel. Mauris ac mi condimentum, volutpat quam eu, posuere neque.</p>

        <h2>Where can I learn more about the Flint water crisis?</h2>
            <p>Visit our FAQ page for answers to basic questions and links to more information.</p>
        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1">
            <div class="photo-wrapper">
                <img src="https://s3.amazonaws.com/h2oflint/one_volunteer_distributing_supplies_indoors_portrait.jpg">
            </div>
            <div class="caption">
                <p><b>Neighbor to neighbor</b>: Morbi et risus ultricies, aliquet metus et, dignissim odio. Sed venenatis mauris nec neque posuere, eget accumsan erat fringilla. Aliquam ut aliquam ipsum. Vestibulum vulputate sit amet erat in dignissim. In eu facilisis enim, id tempus ligula. Mauris ac nunc orci. Maecenas sodales porta ligula quis sollicitudin. Pellentesque sed neque gravida magna consectetur bibendum sit amet et quam.</p>
            </div>
        </div>
    </div>
</div>



{% endblock %}