{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
{% load staticfiles %}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <h1 class="form-header blue-text">Add another offer to help</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-2">
            <form class="form-horizontal" role="form" action='.' method='post'>
                {% csrf_token %}
                {{ form.non_field_errors }}

                
                <div class="form-subhead">
                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-1 col-md-12 col-md-offset-0">
                            <h3 class="blue-text">How Would You Like to Help?</h3>
                            <p><i>*Required field</i></p>
                        </div>
                    </div>
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>Are you interested in volunteering?* (If no, you can skip to the donation or park-and-serve sections)</label>
                    {% render_field form.wants_to_volunteer class+="form-control" required="true" %}
                </div>
                <div class="volunteer-questions">
                <div class="form-group">
                    <label>How many people will you be bringing with you to volunteer, if any?
                    {% render_field form.group_size class+="form-control" %}</label>
                </div>
                
                <div class='volunteer-questions'>
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>Are you willing/able to:</label>
                        <div class="row">
                            <div class="checkbox col-xs-12">
                                <label>{% render_field form.will_unload %}Lift and load cases of water?</label>
                            </div>
                            <div class="checkbox col-xs-12">
                                <label>{% render_field form.will_deliver_with_vehicle %}Drive your own vehicle to deliver resources?</label>
                            </div>
                            <div class="checkbox col-xs-12">
                                <label>{% render_field form.will_unload %}Do other support work, like making phone calls, preparing food, or entering data?</label>
                            </div>
                        </div>
                        <br>
                        <label>Do you have technical skills that you'd be willing to use as a volunteer related to:</label>
                        <div class="row">
                            <div class="checkbox col-xs-12">
                                <label>{% render_field form.will_do_testing %}Performing water testing?</label>
                            </div>
                            <div class="checkbox col-xs-12">
                                <label>{% render_field form.will_do_testing %}Installing or fixing plumbing?</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label>Your availability</label>
                        <div class="row schedule-select">
                            <div class="col-xs-3">
                                <span>Mondays</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.mon_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>to</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.mon_availability_end_time class+="form-control"%}
                            </div>
                        </div>
                        <div class="row schedule-select">

                            <div class="col-xs-3">
                                <span>Tuesdays</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.tue_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>to</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.tue_availability_end_time class+="form-control"%}
                            </div>
                        </div>

                        <div class="row schedule-select">
                            <div class="col-xs-3">
                                <span>Wednesdays</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.wed_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>to</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.wed_availability_end_time class+="form-control"%}
                            </div>
                        </div>

                        <div class="row schedule-select">
                            <div class="col-xs-3">
                                <span>Thursdays</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.thu_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>to</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.thu_availability_end_time class+="form-control"%}
                            </div>
                        </div>

                        <div class="row schedule-select">
                            <div class="col-xs-3">
                                <span>Fridays</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.fri_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>to</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.fri_availability_end_time class+="form-control"%}
                            </div>
                        </div>
                        <div class="row schedule-select">
                            <div class="col-xs-3">
                                <span>Saturdays</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.sat_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>to</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.sat_availability_end_time class+="form-control"%}
                            </div>
                        </div>

                        <div class="row schedule-select">
                            <div class="col-xs-3">
                                <span>Sundays</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.sun_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>to</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.sun_availability_end_time class+="form-control"%}
                            </div>
                        </div>

                    <br>                 
                    <div class="row">
                        <div class="col-xs-12">
                            <label>If you are available in a specific date range, please enter the first and last dates here.</label> 
                            <br>
                                <div class="row">
                                    <div class="col-xs-12">
                                    First day available
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    Month: {% render_field form.availability_start_month class+="form-control" %}
                                </div>
                                <div class="col-xs-2">
                                     Date: {% render_field form.availability_start_date class+="form-control" %}
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 last-date">
                                    Last day available
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    Month: {% render_field form.availability_end_month class+="form-control" %}
                                </div>
                                <div class="col-xs-2">
                                     Date: {% render_field form.availability_end_date class+="form-control" %}
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    </div>
                </div>


                <hr>
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>Do you want to make a donation of resources or money?</label>{% render_field form.making_donation class+="form-control" %}
                </div>
                <div class="donation-questions">
                    <div class="alert alert-info">
                        <b>Notice</b>: Our donation page will be up soon - please check back!
                    </div>
                </div>


                <!--Template code for donation section 
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>What are you offering?</label>
                        <div class="row">
                            <div class="checkbox col-xs-4">
                                <label>{% render_field form.has_water %}Water</label>
                            </div>
                            <div class="checkbox col-xs-4">
                                <label> {% render_field form.has_filters %}Filters</label>
                            </div>
                            <div class="checkbox col-xs-4">
                                <label>{% render_field form.has_testers %}Testing supplies</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox col-xs-4">
                                <label>{% render_field form.has_wipes %}Baby wipes</label>
                            </div>
                            <div class="checkbox col-xs-4">
                                <label> {% render_field form.has_vaseline %}Vaseline</label>
                            </div>
                            <div class="checkbox col-xs-4">
                                <label>{% render_field form.has_lifting_supplies %}Lifting supplies</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox col-xs-4">
                                <label>{% render_field form.has_vehicles_or_drivers %} Vehicle with drivers</label>
                            </div>
                            <div class="checkbox col-xs-6">
                                <label>
                                {% render_field form.has_lifting_supplies %}Other supplies (please explain below)</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <span>Other supplies you can offer</span>
                                {% render_field form.other_supplies_on_hand class+="form-control" %}
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <label>Would you like to leave a note for the recipients of your donation(s)?
                    {% render_field form.note_for_recipient class+="form-control" %}<label>
                </div>
                -->

                <hr>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>Are you planning to drive a vehicle of water or supplies to Flint and distribute them ("park and serve")? If you are already doing so now, choose yes.</label>
                    {% render_field form.doing_park_and_serve class+="form-control" %}
                </div>

                <div class="parkandserve-questions">
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label>When are you planning to park and serve? If you are doing so now, enter today's date to post it on our website.</label> 
                        <br>
                        <div class="row">
                            <div class="col-xs-5">
                                 Weekday: {% render_field form.park_and_serve_weekday class+="form-control" %}
                            </div>
                            <div class="col-xs-5">
                                Month: {% render_field form.park_and_serve_month class+="form-control" %}
                            </div>
                            <div class="col-xs-2">
                                 Date: {% render_field form.park_and_serve_date class+="form-control" %}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-6">
                                Start time: {% render_field form.park_and_serve_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-6">
                                End time: {% render_field form.park_and_serve_end_time class+="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>What are you planning to distribute (e.g. water, baby wipes)?
                        {% render_field form.park_and_serve_items class+="form-control" %}</label>
                    </div>
                    <div class="form-group">
                        <label>Where are you planning to park and distribute?</label>
                        <br><i>Enter "I don't know" in the address box if you don't yet have a plan for this.</i>
                        <div class="row">
                            <div class="col-xs-6">
                                 Street address: {% render_field form.park_and_serve_address class+="form-control" %}
                            </div>
                            <div class="col-xs-5">
                                Zipcode: {% render_field form.park_and_serve_address class+="form-control" %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr>

                <div class="form-group">
                    <label>Additional notes or special instructions for us
                    {% render_field form.special_instructions class+="form-control" %}</label>
                </div>





                <div class="col-xs-12 text-right">
                    <div class="submit-button-wrapper">
                        <button type="submit" value="Submit" class="btn btn-lg btn-success">Submit</button>
                        <button onClick='location.href="{% url 'index' %}"' class="btn btn-lg btn-default">Cancel</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1">
            <div class="photo-wrapper">
                <img src="https://s3.amazonaws.com/h2oflint/pallettes_and_jugs_and_volunteers_portrait.jpg">
            </div>
            <div class="caption">
                <p><b>Taking care of our people</b>: Several days each week, young men from the neighborhood help tirelessly with the unload, reorganization, and distribution of tons of water.</p>
            </div>
            <br><br>
            <div class="photo-wrapper">
                <img src="https://s3.amazonaws.com/h2oflint/line_to_receive_landscape.jpg">
            </div>
            <div class="caption">
                <p><b>In a single weekend</b>, people from as far away as Jacksonville, Florida and Philadelphia, Pennsylvania may drive in to help deliver and distribute water. </p>
            </div>
        </div>
    </div>
</div>



{% endblock %}