<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	    <!-- OpenGraph Tags -->
	    <meta property="og:title" content="H2oFlint - Easy Online Forms and Information" />
	    <meta property="og:type" content="website" />
	    <meta property="og:url" content="http://www.h2oflint.com" />
	    <meta property="og:site_name" content="H2oFlint" />

		<!-- swf object -->
	    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

	    <!-- application javacript functions -->
	    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

	    <title>FNT.H2o Crisis - Easy Online Forms and Information</title>

	    <meta name="title" content="H2oFlint - Easy Online Forms and Information"/>
	    <link rel="image_src" href="https://s3.amazonaws.com/bbemail/PROD/email_thumbs/3a0d0270-d55a-77cb-bf96-da662b5b0952.jpg?r=12833" />

	    {% load staticfiles %}
	    <link href="{% static 'css/style.css' %}" rel="stylesheet">

	</head>

	<body>

	{% block content %}

	{% endblock %}

	</body>
</html>