{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{% load i18n %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-2">
            <h1 class="about-header blue-text">{% trans "Frequently Asked Questions" %}<br>{% trans "About the Flint Water Crisis" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-2">
        <h3>1. {% trans "How did lead get into Flint's tap water?" %}</h3>
            <p>{% trans "Officials in charge of the city of Flint decided to switch the source of city’s drinking water from the Detroit Water and Sewage Department (DWSD) to the Flint River. That switch occurred in April, 2014. The Flint River’s corrosivity turned out to be much higher than that of Lake Huron, from which DWSD draws its water. When the corrosive Flint River water came into contact with lead service lines, lead soldering, and lead piping used in older homes, the lead was able to leach from the pipes into drinking water." %}
            <br>{% trans "Source:" %} {% trans "Virginia Tech Flint Water Study" %}</p>
            <br>

        <h3>2. {% trans "Is it safe to take a bath or shower?" %}</h3>
            <p>{% trans 'According to the Genesee County Health Department: "Bathing and showering should be safe, even if the water contains lead over EPA’s action level. Human skin does not absorb lead in water. This information applies to most situations and to a large majority of the population, but individual circumstances may vary. Some situations, such as cases involving highly corrosive water, may require additional recommendations or more stringent actions." ' %}
            <br>Source: Genesee County Health Department</p>
            <br>

        <h3>3. {% trans "How do I know if there is lead in my water?" %}</h3>
            <p>{% trans "The presence of lead contamination in the water supply is not uniform across the entire City of Flint, and not all areas of the city or all resident supplies were equally affected. The only way to know for sure is to have your water tested. You can call 2-1-1 to find out where to pick up free water testing kits.  The locations to pick up water testing kits are also listed on the <a href='http://www.gchd.us/flint_drinking_water_resources.php'>Genesee County Health Department</a> and <a href='http://www.michigan.gov/flintwater'>Michigan.gov</a> websites. Specific EPA guidance is very clear for pregnant women and children under 6 to use bottled water only!" %}</p>
            <br>

        <h3>4. {% trans "How do I get water filters and replacements?" %}</h3>
            <p>{% blocktrans %} A NSF water filter should be attached to the faucets in your home. This filter will remove lead in addition to a variety of other contaminants. Run only cold water through the filter.</p>
            <p>You can call 2-1-1 to find out where to pick up a free water filter and replacement cartridges. The locations to pick up water filters and replacement cartridges are also listed on <a href='http://www.gchd.us/flint_drinking_water_resources.php'>Genesee County Health Department</a> and <a href='http://www.michigan.gov/flintwater'>Michigan.gov</a> websites {% endblocktrans %}</p>
            <br>            

        <h3>5. {% trans "How do I know if my child has been exposed to/affected by lead in the water?" %}</h3>
            <p>{% trans "If your child has been drinking Flint water, he/she has been exposed to lead. There may be no signs or symptoms if your child has been exposed/affected by lead in the water. Lead poisoning occurs when lead builds up in the body over a period of time. A blood lead test may not give an accurate picture if your child is no longer being exposed. The lead may have left the blood and settled in the bones and tissue. After several weeks, most of the lead moves into your bones and teeth." %}</p>
            <p>{% trans "Lead can cause damage to the brain, red blood cells, and kidneys. The greatest risk is to young children and pregnant women. Amounts of lead that won't hurt adults can slow down normal mental and physical development of growing bodies. Lead in water can be a special problem for infants, whose diets may be mostly liquids, such as baby formulas or concentrated juices mixed with water. Smaller bodies can absorb lead more rapidly than bigger ones. A child’s mental and physical growth can be permanently harmed by too much lead. Risk will vary, depending on the individual, the circumstances, and the amount of water consumed." %}
                <br>{% trans "Source:" %} <a href='http://www.atsdr.cdc.gov/PHS/PHS.asp?id=92&tid=22'>http://www.atsdr.cdc.gov/PHS/PHS.asp?id=92&tid=22</a></p>
             <br>

        <h3>6. {% trans "What should I look for in my child?" %}</h3>
            <p>{% trans "According to the Mayo Clinic, signs and symptoms of lead poisoning in children may include:" %}</p>
            <ul>
                <li>{% trans "Developmental delays Learning difficulties Irritability Loss of appetite Weight loss" %}</li>
                <li>{% trans "Sluggishness Abdominal pain Vomiting Constipation Hearing loss" %}
                <li>{% trans "Lead poisoning symptoms in newborns include learning</li>difficulties and slowed growth." %}</li>
            </ul></p>
            <p>{% trans "Source: <a href='http://www.mayoclinic.org/diseases-conditions/lead-poisoning/basics/symptoms/con-20035487'>http://www.mayoclinic.org/diseases-conditions/lead-poisoning/basics/symptoms/con-20035487</a>" %}</p>
            <br>

        <h3>7. {% trans "What can I do to help my child?" %}</h3>
            <p>{% trans "There are four major areas that you can work on to help your child, including:" %}
                <ul>
                    <li>{% trans "Nutrition: Make sure your child eats the right foods to fight the lead poisoning." %}</li>
                    <li>{% trans "Learning: Make sure your child is in school or preschool. Read to your child often." %}</li>
                    <li>{% trans "Medical: Make sure your child sees his/her doctor routinely." %}</li>
                    <li>{% trans "Developmental: Know the normal stages of development and watch for signs of delays." %}</li>
                </ul>
            </p>
            <br>
 
        <h3>8. {% trans "What should I feed my child?" %}</h3>
            <p>{% trans "Nutrition that includes a diet high in iron, calcium, and vitamin C will help keep lead from being stored in your child’s body. These foods include:" %}
            <ul>
                <li>{% trans "Calcium-Rich Foods: Milk , cheese, yogurt, tofu , spinach collard greens" %}</li>
                <li>{% trans "Iron-Rich Foods: Beans , lean meats , whole grain cereals, peanut butter , beef, or chicken liver" %}</li>
                <li>{% trans "Foods with Vitamin C: Oranges, orange juice, grapefruit, tomatoes, green peppers" %}</li>
            </ul>
            <p>{% trans "Wash your fruits and vegetables with filtered water." %}</p>
            <p>{% trans "Source: <a href='http://msue.anr.msu.edu/resources/fight_lead_with_nutrition'>http://msue.anr.msu.edu/resources/fight_lead_with_nutrition</a>" %}</p>
            <br>

        <h3> 9. {% trans "Where can I find the latest updates on the drinking water crisis in Flint, Michigan?" %}</h3>
            <p>{% trans "The EPA has established the Flint Safe Drinking Water Task Force to provide the latest news to Flint residents. You can visit <a href='http://www.epa.gov/flint '>the taskforce's website</a> or the <a href='http://mi.gov/flintwater'>Flint, Michigan water website</a>." %}
            </p>
            <br>

        <h3>10. {% trans "What is the purpose of this site?" %}</h3>
            <p>{% trans "The purpose of this site is to leverage technology to change the human condition by providing reliable, real-time information about water and other resources that are available at local distribution sites. Through FlintH2o, people and organizations can also make arrangements to volunteer, donate water and other supplies, and donate money." %}</p>
            <br>

        <h3>11. {% trans "How long will this site be available?" %}</h3>
            <p>{% trans "The city of Flint remains in a state of emergency and there are no clear answers about when water infrastructure will be replaced in the city. Therefore, this site will be available as long as the site is supported and as long as Flint residents need reliable, coordinated access to goods and services provided through this site." %}</p>
        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1">
            <div class="photo-wrapper">
                <img src="https://s3.amazonaws.com/h2oflint/brushing_teeth.jpg">
            </div>
            <br>
            <div class="photo-wrapper">
                <img src="https://s3.amazonaws.com/h2oflint/recycling.jpg">
            </div>
            <div class="caption">
                <p>{% trans "<b>Brushing your teeth in a bottle</b> and collecting volumes of plastic is just a small part of the new way of life in Flint." %}</p>
            </div>
            <br>
            <div class="photo-wrapper">
                <img src="https://s3.amazonaws.com/h2oflint/cart_of_water.jpg">
            </div>
            <div class="caption">
                <p>{% trans "<b>A cart of 24 $0.89 jugs</b> of distilled water from Walmart is just a part of the new way of life in Flint – IF you can afford it and IF you have a car." %}</p>
            </div>
            <br><div class="photo-wrapper">
                <img src="https://s3.amazonaws.com/h2oflint/bottle_sink.jpg">
            </div>
            <div class="caption">
                <p>{% trans "<b>These days,</b> a bottle of water has become a daily fixture on Darnell’s bathroom sink." %}</p>
            </div>
        </div>
    </div>
</div>



{% endblock %}