{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}


    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="row holder">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 text-center">
                        <h2 class="search-headline"><b>FIND WATER NEAR YOU OR OFFER HELP</b></h2>
                    </div>
                </div>

                <div class="row search-bar">
                    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1">
                        <input type="text" class="form-control input-lg" placeholder="Enter your address or zip code">
                    </div>
                    <div class="col-xs-12 col-md-2 text-center">
                        <button type-"button" class="btn btn-lg btn-primary">Find water</button>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1 map-panel">
                        <div id="map-canvas" class="img-responsive">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8 location-results"><h2>Search Results Near You</h2>
                    {% for location in locations %}
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 location-result">
                                <p><h3 class="location-name">{{location.name}}<span class="glyphicon glyphicon-tint pull-right"></span><span class="glyphicon glyphicon-filter pull-right"></span></h3>
                                    <br>{{location.address}}
                                    <br>Phone: {{location.phone}}
                                </p>
                                <ul>
                                    {% if location.monday_dist %}<li><b>Monday distribution hours: </b>{{location.monday_dist}}</li>{% endif %}
                                    {% if location.tuesday_dist %}<li><b>Tuesday distribution hours: </b>{{location.tuesday_dist}}</li>{% endif %}
                                    {% if location.wednesday_dist %}<li><b>Wednesday distribution hours: </b>{{location.wednesday_dist}}</li>{% endif %}
                                    {% if location.thursday_dist %}<li><b>Thursday distribution hours: </b>{{location.thursday_dist}}</li>{% endif %}
                                    {% if location.friday_dist %}<li><b>Friday distribution hours: </b>{{location.friday_dist}}</li>{% endif %}
                                    {% if location.saturday_dist %}<li><b>Saturday distribution hours: </b>{{location.saturday_dist}}</li>{% endif %}
                                    {% if location.sunday_dist %}<b>Sunday distribution hours: </b>{{location.sunday_dist}}</li>{% endif %}
                            </div>
                            
                        </div>
                    {% endfor %}
                    </div>
                    <div class="col-xs-4 user-button-holder">
                        <div class="user-button text-center dk-blue-bg white-text">I need water delivered to my home</div>
                        <div class="user-button text-center dk-blue-bg white-text">I need another kind of assistance</div>
                        <div class="user-button text-center dk-blue-bg white-text">I want to give feedback about a distribution center experience</div>
                        <div class="user-button text-center dk-blue-bg white-text">I received water or other help and want to leave a message about it</div>
                        
                        <br><br><br>

                        <div class="user-button text-center purple-bg white-text">I want to volunteer</div>
                        <div class="user-button text-center purple-bg white-text">I want to donate water, supplies, or money</div>

                        <br><br><br>
                        <div class="user-button text-center extra-lt-purple-bg white-text">My organization can distribute water or supplies</div>
                        <div class="user-button text-center extra-lt-purple-bg white-text">My organization can help another way</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7cQS9WA8nCS92ofzoQ0UtrKA6drw6fOI">
    </script>

    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(43.0125274, -83.6874562),
                zoom: 12
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);
            
            {% for location in locations %}
            var marker1 = new google.maps.Marker({
                position: new google.maps.LatLng({{location.latitude}}, {{location.longitude}}),
                map: map,
                title: "{{location.name}}"
            });
            {% endfor %}

            }
          google.maps.event.addDomListener(window, 'load', initialize);
    
            

    </script>


{% endblock %}