
{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}


    <div class="row">
        <div class="col-xs-12">
            <video autoplay loop poster="{% static 'img/banner_poster.jpg' %}">
                <source src="https://s3.amazonaws.com/h2oflint/banner_video.mp4" type="video/mp4" />
                <source src="https://s3.amazonaws.com/h2oflint/banner_video.webm" type="video/webm">
            </video>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid">
            <div class="col-xs-12 search-head-wrapper">
                <h1 class="search-headline text-center"><b>FIND OR OFFER HELP</b></h1>
                <h2 class="search-subheadline text-center"><b>Through grassroots community members</b>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="user-buttons-holder">
            <div class="row">
                <div class="col-xs-12 col-md-4 user-button-holder text-center">
                    <div class="row">
                        <h3 class="blue-text"><b>I'm a Flint resident looking for assistance</b></h3>
                    </div>
                    <div class="row">
                        <div onClick='location.href="{% url 'request_delivery' %}"' class="user-button text-center lt-green-bg black-text">I need water or supplies delivered to my home</div>
                    </div>
                </div>
                    
                <div class="col-xs-12 col-md-4 user-button-holder text-center">
                    <div class="row">
                        <h3 class="blue-text"><b>I'm an individual who wants to help</b></h3>
                    </div>
                    <div class="row">
                        <div onClick='location.href="{% url 'individual_offer' %}"' class="user-button text-center salmon-bg black-text">I want to volunteer</div>
                        <div onClick='location.href="{% url 'individual_offer' %}"' class="user-button text-center yellow-bg black-text">I want to donate water, supplies, or money</div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4 user-button-holder text-center">
                    <div class="row">
                        <h3 class="blue-text"><b>My organization needs or can offer help</b></h3>
                    </div>
                    <div class="row">
                        <div onClick='location.href="{% url 'organization_offer' %}"' class="user-button text-center dk-purple-bg white-text">We can distribute water or other supplies</div>
                        <div onClick='location.href="{% url 'organization_offer' %}"' class="user-button text-center lt-blue-bg black-text">We need volunteers or help distributing</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-1 todays-locations">
                <h3 class="blue-text">Community Distribution Centers Open Today</h3>

                <div class="results-legend">
                    <span class="results-legend-item"><span class="glyphicon glyphicon-tint blue-text"></span> = Has water</span>
                    <span class="results-legend-item"><span class="glyphicon glyphicon-filter blue-text"></span> = Has filters</span>
                    <span class="results-legend-item"><span class="glyphicon glyphicon-bold blue-text"></span> = Has baby supplies</span>
                </div>


            {% for location in locations %}
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 location-result">
                        <div class="row">
                            <div class="col-xs-9">
                                <h4 class="location-name"><b>{{location.org_name}}</b></h4>
                                <span class="location-address"><b>{{location.address}}</b></span>
                            </div>
                            <div class="col-xs-3 icon-holder">  <h3 class="blue-text">
                                {% if location.has_water == True %}
                                    <span class="glyphicon glyphicon-tint pull-right"></span>
                                {% endif %}
                                {% if location.has_filters == True %}
                                    <span class="glyphicon glyphicon-filter pull-right"></span>
                                {% endif %}
                                </h3>
                            </div>
                        </div>
                        <div clas="row">
                            <div class="col-xs-6 result-details">
                                Distribution hours:
                                <ul>

                                    {% if location.monday_dist_start %}
                                    <li><b>Monday:</b> {{location.monday_dist_start}}-{{location.monday_dist_end}}</li>
                                    {% endif %}

                                    {% if location.tuesday_dist_start %}
                                    <li><b>Tuesday:</b> {{location.tuesday_dist_start}}-{{location.tuesday_dist_end}}</li>
                                    {% endif %}

                                    {% if location.wednesday_dist_start %}
                                    <li><b>Wednesday:</b> {{location.wednesday_dist_start}}-{{location.wednesday_dist_end}}</li>
                                    {% endif %}

                                    {% if location.thursday_dist_start %}
                                    <li><b>Thursday:</b> {{location.thursday_dist_start}}-{{location.thursday_dist_end}}</li>{% endif %}

                                    {% if location.friday_dist_start %}
                                    <li><b>Friday:</b> {{location.friday_dist_start}}-{{location.friday_dist_end}}</li>
                                    {% endif %}

                                    {% if location.saturday_dist_start %}
                                    <li><b>Saturday:</b> {{location.saturday_dist_start}}-{{location.saturday_dist_end}}</li>
                                    {% endif %}

                                    {% if location.sunday_dist_start %}
                                    <li><b>Sunday:</b> {{location.sunday_dist_start}}-{{location.sunday_dist_end}}</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                {% if location.phone != '' %}<br><b>Phone</b>: {{location.phone}}{% endif %}
                                {% if location.website != '' %}<br><b>Website</b>: <a href="{{location.website}}">{{location.website}}</a>{% endif %}
                                {% if location.email|length > 1 %}<br><b>Email</b>: {{location.email}}{% endif %}
                            </div>
                            


                        </div>
                        
                    </div>
                </div>

            {% endfor %}
            </div>

            <div class="col-xs-12 col-md-5 map-panel">

                <div class="row search-list-button-holder">
                    <div class="col-xs-12 col-md-5">
                        <div class="search-list-button text-center">
                            Enter your address to find sites distributing water near you today
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-1 search-list-button text-center">
                        <b>or</b>
                    </div>
                    <div class="col-xs-12 col-md-6 search-list-button text-center">
                        <button onClick='location.href="{% url 'search' %}"' class="btn info ">Click here to see this week's locations
                    </div>
                    <div class="col-xs-12">
    <input id="pac-input" class="controls" type="text" placeholder="Address or zipcode">
    <div id="map-canvas"></div>
    <script>

function initAutocomplete() {
  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    center: {lat: 43.0125274, lng: -83.6874562},
    zoom: 12,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // Add today's distribution points
    {% for location in locations %}
    var marker1 = new google.maps.Marker({
        position: new google.maps.LatLng({{location.latitude}}, {{location.longitude}}),
        map: map,
        title: "{{location.org_name}}\n{{location.address}}\nFlint, MI{{location.zipcode}}\n {{location.phone}}"
    });
    {% endfor %}

  // Create the search box and link it to the UI element.
  var input = document.getElementById('pac-input');
  var searchBox = new google.maps.places.SearchBox(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  // Bias the SearchBox results towards current map's viewport.
  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  var markers = [];
  // [START region_getplaces]
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }

    // Clear out the old markers.
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
    markers = [];

    // For each place, get the icon, name and location.
    var bounds = new google.maps.LatLngBounds();
    places.forEach(function(place) {
      var icon = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)
      };

      // Create a marker for each place.
      markers.push(new google.maps.Marker({
        map: map,
        icon: icon,
        title: place.name,
        position: place.geometry.location
      }));

      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
    map.setCenter(markers[0].position);
    map.setZoom(13);
  });
  // [END region_getplaces]
}


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdQa5vpC7SE5LdZAXXxGNcKJpJGmBYd6E&libraries=places&callback=initAutocomplete"
         async defer></script>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-5">
                        <h4 class="blue-text"><b>Tweet us your real-time experiences at distribution centers to have them appear here and inform your neighbors</b></h4>
                        <a class="twitter-timeline" href="https://twitter.com/flint_h2o" data-widget-id="700715276451459072">Tweets by @flint_h2o</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}