{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load i18n %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <h1 class="form-header blue-text">{% trans "Volunteer your time or donate resources" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-2">
            <form class="form-horizontal" role="form" action='.' method='post'>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.errors }}

                <div class="form-subhead">
                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-1 col-md-12 col-md-offset-0">
                            <h3 class="blue-text">{% trans "Your contact information" %}</h3>
                            <p><i>*{% trans "Required field" %}</i></p>
                        </div>
                    </div>
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "First name" %}*</label>
                    {% render_field form.first_name class+="form-control" required="true" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Last name" %}*</label>
                    {% render_field form.last_name class+="form-control" required="true" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Email address" %}*</label>
                    {% render_field form.email class+="form-control" type="email" required="true" placeholder="name@example.com" %}
                    <p class="form-note"><i>{% trans "We'll send all correspondence about your account to this email address, and it will also be the username you use to log in to the site." %}</i></p>
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Phone" %}*</label>
                    {% render_field form.phone class+="form-control" required="true" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Street address" %}*</label>
                    {% render_field form.address class+="form-control" required="true" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "City" %}*</label>
                    {% render_field form.city class+="form-control" required="true" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "State" %}*</label>
                    {% render_field form.state class+="form-control" required="true" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Zipcode" %}*</label>
                    {% render_field form.zipcode class+="form-control" required="true" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Password" %}*</label>
                    {% render_field form.password class+="form-control" required="true" placeholder="Passwords should have at least 8 digits" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Retype Password" %}*</label>
                    {% render_field form.retype_password class+="form-control" required="true" %}
                </div>
                
                <br><br><br>
                <div class="form-subhead">
                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-1 col-md-12 col-md-offset-0">
                            <h3 class="blue-text">{% trans "How You'd Like to Help" %}</h3>
                            <p><i>*{% trans "Required field" %}</i></p>
                        </div>
                    </div>
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Are you interested in volunteering?" %}*</label>
                    {% render_field form.wants_to_volunteer class+="form-control" required="true" %}
                </div>
                <div class="volunteer-questions">
                <div class="form-group">
                    <label>{% trans "How many people will you be bringing with you to volunteer, if any?" %}
                    {% render_field form.group_size class+="form-control" %}</label>
                </div>
                
                <div class='volunteer-questions'>
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Are you willing/able to:" %}</label>
                        <div class="row">
                            <div class="checkbox col-xs-12">
                                <label>{% render_field form.will_unload %}{% trans "Lift and load cases of water?" %}</label>
                            </div>
                            <div class="checkbox col-xs-12">
                                <label>{% render_field form.will_deliver_with_vehicle %}{% trans "Drive your own vehicle to deliver resources?" %}</label>
                            </div>
                            <div class="checkbox col-xs-12">
                                <label>{% render_field form.will_unload %}{% trans "Do other support work, like making phone calls, preparing food, or entering data?" %}</label>
                            </div>
                        </div>
                        <br>
                        <label>{% trans "Do you have technical skills that you'd be willing to use as a volunteer related to:" %}</label>
                        <div class="row">
                            <div class="checkbox col-xs-12">
                                <label>{% render_field form.will_do_testing %}{% trans "Performing water testing?" %}</label>
                            </div>
                            <div class="checkbox col-xs-12">
                                <label>{% render_field form.will_do_testing %}{% trans "Installing or fixing plumbing?" %}</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <label>{% trans "Other skills, resources, or supplies you can offer" %}</label>
                                {% render_field form.other_help class+="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label>{% trans "Your availability" %}</label>
                        <div class="row schedule-select">
                            <div class="col-xs-3">
                                <span>{% trans "Mondays" %}</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.mon_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>{% trans "to" %}</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.mon_availability_end_time class+="form-control"%}
                            </div>
                        </div>
                        <div class="row schedule-select">

                            <div class="col-xs-3">
                                <span>{% trans "Tuesdays" %}</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.tue_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>{% trans "to" %}</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.tue_availability_end_time class+="form-control"%}
                            </div>
                        </div>

                        <div class="row schedule-select">
                            <div class="col-xs-3">
                                <span>{% trans "Wednesdays" %}</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.wed_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>{% trans "to" %}</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.wed_availability_end_time class+="form-control"%}
                            </div>
                        </div>

                        <div class="row schedule-select">
                            <div class="col-xs-3">
                                <span>{% trans "Thursdays" %}</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.thu_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>{% trans "to" %}</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.thu_availability_end_time class+="form-control"%}
                            </div>
                        </div>

                        <div class="row schedule-select">
                            <div class="col-xs-3">
                                <span>{% trans "Fridays" %}</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.fri_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>{% trans "to" %}</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.fri_availability_end_time class+="form-control"%}
                            </div>
                        </div>
                        <div class="row schedule-select">
                            <div class="col-xs-3">
                                <span>{% trans "Saturdays" %}</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.sat_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>{% trans "to" %}</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.sat_availability_end_time class+="form-control"%}
                            </div>
                        </div>

                        <div class="row schedule-select">
                            <div class="col-xs-3">
                                <span>{% trans "Sundays" %}</span>
                            </div>
                            <div class="col-xs-4">
                                {% render_field form.sun_availability_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-1">
                                <span>{% trans "to" %}</span>
                            </div>
                            <div clas
                            <div class="col-xs-4">
                                {% render_field form.sun_availability_end_time class+="form-control"%}
                            </div>
                        </div>

                    <br>                 
                    <div class="row">
                        <div class="col-xs-12">
                            <label>{% trans "If you are available in a specific date range, please enter the first and last dates here." %}</label> 
                            <br>
                                <div class="row">
                                    <div class="col-xs-12">
                                    {% trans "First day available" %}
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    {% trans "Month:" %}" {% render_field form.availability_start_month class+="form-control" %}
                                </div>
                                <div class="col-xs-2">
                                     {% trans "Date:" %} {% render_field form.availability_start_date class+="form-control" %}
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 last-date">
                                    {% trans "Last day available" %}
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    {% trans "Month:" %} {% render_field form.availability_end_month class+="form-control" %}
                                </div>
                                <div class="col-xs-2">
                                     {% trans "Date:" %} {% render_field form.availability_end_date class+="form-control" %}
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    </div>
                </div>


                <hr>
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Do you want to make a donation of resources or money?" %}</label>{% render_field form.making_donation class+="form-control" %}
                </div>
                <div class="row donation-questions">
                    <div class="col-xs-12">
                        <p>{% trans "Donations go towards purchasing water, care products (like baby wipes and Vaseline), and lifting/transporation supplies (like dollies and back braces), and toward supporting the distribution of those items." %}</p>
                        <p>{% trans "Click the button below to get started." %}</p>
                        <a target="_blank" style="border:none;" href="http://www.gofundme.com/quqydys4?utm_medium=wdgt" title="Visit this page now."><img style="border:none;" src="https://funds.gofundme.com/css/3.0_donate/green/widget.png"></a>
                    </div>
                </div>


                <!--Template code for donation section 
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>What are you offering?</label>
                        <div class="row">
                            <div class="checkbox col-xs-4">
                                <label>{% render_field form.has_water %}Water</label>
                            </div>
                            <div class="checkbox col-xs-4">
                                <label> {% render_field form.has_filters %}Filters</label>
                            </div>
                            <div class="checkbox col-xs-4">
                                <label>{% render_field form.has_testers %}Testing supplies</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox col-xs-4">
                                <label>{% render_field form.has_wipes %}Baby wipes</label>
                            </div>
                            <div class="checkbox col-xs-4">
                                <label> {% render_field form.has_vaseline %}Vaseline</label>
                            </div>
                            <div class="checkbox col-xs-4">
                                <label>{% render_field form.has_lifting_supplies %}Lifting supplies</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox col-xs-4">
                                <label>{% render_field form.has_vehicles_or_drivers %} Vehicle with drivers</label>
                            </div>
                            <div class="checkbox col-xs-6">
                                <label>
                                {% render_field form.has_lifting_supplies %}Other supplies (please explain below)</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <span>Other supplies you can offer</span>
                                {% render_field form.other_supplies_on_hand class+="form-control" %}
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <label>Would you like to leave a note for the recipients of your donation(s)?
                    {% render_field form.note_for_recipient class+="form-control" %}<label>
                </div>
                -->

                <hr>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans 'Are you planning to drive a vehicle of water or supplies to Flint and distribute them ("park and serve")? If you are already doing so now, choose yes.' %}</label>
                    {% render_field form.doing_park_and_serve class+="form-control" %}
                </div>

                <div class="parkandserve-questions">
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label>{% trans "When are you planning to park and serve? If you are doing so now, enter today's date to post it on our website." %}</label> 
                        <br>
                        <div class="row">
                            <div class="col-xs-5">
                                 {% trans "Weekday:" %} {% render_field form.park_and_serve_weekday class+="form-control" %}
                            </div>
                            <div class="col-xs-5">
                                {% trans "Month:" %} {% render_field form.park_and_serve_month class+="form-control" %}
                            </div>
                            <div class="col-xs-2">
                                 {% trans "Date:" %} {% render_field form.park_and_serve_date class+="form-control" %}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-6">
                                {% trans "Start time:" %} {% render_field form.park_and_serve_start_time class+="form-control" %}
                            </div>
                            <div class="col-xs-6">
                                {% trans "End time:" %} {% render_field form.park_and_serve_end_time class+="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{% trans "What are you planning to distribute (e.g. water, baby wipes)?" %}
                        {% render_field form.park_and_serve_items class+="form-control" %}</label>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Where are you planning to park and distribute?" %}</label>
                        <br><i>{% trans 'Enter "I don\'t know" in the address box if you don\'t yet have a plan for this.' %}</i>
                        <div class="row">
                            <div class="col-xs-6">
                                 {% trans "Street address:" %} {% render_field form.park_and_serve_address class+="form-control" %}
                            </div>
                            <div class="col-xs-5">
                                {% trans "Zipcode" %}: {% render_field form.park_and_serve_address class+="form-control" %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr>

                <div class="form-group">
                    <label>{% trans 'Do you have a video on Youtube or Vimeo about why you\'re offering to help Flint residents? If you\'d like to offer it to our site visitors, paste its shareable URL here (e.g. "http://www.youtube.com/myvideo").' %}
                    {% render_field form.video_url class+="form-control" %}</label>
                </div>

                <div class="form-group">
                    <label>{% trans "Additional notes or special instructions for us" %}
                    {% render_field form.special_instructions class+="form-control" %}</label>
                </div>





                <div class="col-xs-12 text-right">
                    <div class="submit-button-wrapper">
                        <button type="submit" value="Submit" class="btn btn-lg btn-success">{% trans "Submit" %}</button>
                        <button onClick='location.href="{% url 'index' %}"' class="btn btn-lg btn-default">{% trans "Cancel" %}</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1">
            <div class="photo-wrapper">
                <img src="https://s3.amazonaws.com/h2oflint/pallettes_and_jugs_and_volunteers_portrait.jpg">
            </div>
            <div class="caption">
                <p>{% trans "<b>Taking care of our people</b>: Several days each week, young men from the neighborhood help tirelessly with the unload, reorganization, and distribution of tons of water." %}</p>
            </div>
            <br><br>
            <div class="photo-wrapper">
                <img src="https://s3.amazonaws.com/h2oflint/line_to_receive_landscape.jpg">
            </div>
            <div class="caption">
                <p>{% trans "<b>In a single weekend</b>, people from as far away as Jacksonville, Florida and Philadelphia, Pennsylvania may drive in to help deliver and distribute water." %}</p>
            </div>
        </div>
    </div>
</div>



{% endblock %}