{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{% load i18n %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-2">
            <br><h1 class="about-header blue-text">{% trans "Privacy policy" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-2">
    
            <p>{% trans "We collect personal information for various business purposes when you interact with us, such as registering you with our site, processing your order, responding to requests for service or assistance, creating and improving our website features and social media platforms, and protecting our rights and property. We collect information about you in two basic ways. First, we receive information directly from you. Second, through use of cookies and other technologies, we keep track of your interactions." %}</p>

            <p>{% trans "We do not sell, rent, or provide your personal information to third parties that are unaffiliated with Internet Brands. Your personal information is shared with third parties with your consent, except in circumstances where the law requires it to be shared. You may cancel your registration or deactivate your account, or update your preferences at any time." %}</p>




        </div>




        <br><br><br>

        <div class="col-xs-12 col-md-4 col-md-offset-1">
            <div class="photo-wrapper">
                <img src="https://s3.amazonaws.com/h2oflint/get_involved_hoodie.JPG" rotate="90">
            </div>
            <div class="caption">
                <p><b>{% trans "Want to get involved?" %}</b> {% trans "Ready to lend a hand? Please feel free to contact us if you think we may be able to facilitate your interest and commitment to empower people, resource communities, and help change the dominant narrative." %}
                </p>
            </div>
            <br>
            <div class="photo-wrapper">
                <img src="https://s3.amazonaws.com/h2oflint/members_of_flintH2O.JPG">
            </div>
            <div class="caption">
                <p>
                    {% trans "<b>Our gratitude:</b> Members of the FlintH2o thank you for visiting this page." %}
                </p>
            </div>
        </div>
    </div>
</div>



{% endblock %}