{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
{% load staticfiles %}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <h1 class="form-header blue-text">Request a Home Delivery</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-2">
            <form class="form-horizontal" role="form" action='.' method='post'>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{form.errors}}

                <div class="form-subhead">
                    <h3 class="blue-text">Your information</h3>
                    <p><i>*Required field</i></p>
                </div>

                <!--<div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>
                    {% render_field form.on_behalf %}I am completing this form on behalf of someone else</label>
                </div> -->

                <div class="form-group">
                    <label>Delivery date*</label>
                    <p>To make the most of our volunteers' time, we schedule deliveries on set dates. If this is an emergency, please contact emergency services.</p>
                    {% render_field form.delivery_date class+="form-control" required="true"  %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>Recipient's first name*</label>
                    {% render_field form.recipient_first class+="form-control" required="true" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>Recipient's last name*</label>
                    {% render_field form.recipient_last class+="form-control" required="true" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>Delivery address in Flint, MI*</label>
                    {% render_field form.recipient_address class+="form-control" required="true" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>Delivery zipcode*</label>
                    <p>Please note that at this time, we only schedule delivery runs within Flint.</p>
                    {% render_field form.zipcode class+="form-control" required="true" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>Recipient's phone*</label>
                    {% render_field form.recipient_phone class+="form-control" required="true" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>Contact email address</label>
                    <p>If you are completing this form for someone else, please enter an address where you can receive a confirmation email for this delivery request.</p>
                    {% render_field form.contact_email class+="form-control" placeholder="name@example.com" %}
                </div>
                
                <div class="form-group">
                    <label>How many people are in this household?*
                    {% render_field form.persons_in_household class+="form-control" required="true"  %}</label>
                </div>

                <div class="form-group">
                    <label>How many cases of water are you requesting?*
                    {% render_field form.cases_requested class+="form-control" required="true"  %}</label>
                </div>
            
                <hr>

                <h3>If you completed this form for someone else:</h3>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>First name of the person completing this form</label>
                    {% render_field form.contact_first_name class+="form-control" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>Last name of the person completing this form</label>
                    {% render_field form.contact_last_name class+="form-control" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>Phone number for person completing this form</label>
                    {% render_field form.contact_phone class+="form-control" %}
                </div>

                <div class="form-group">
                    <label>If you need other supplies, please note them here.</label>
                    <p>We cannot fill all requests, but we will deliver any supplies we have available.</p>
                    {% render_field form.other_supplies_needed class+="form-control" %}
                </div>

                <div class="form-group">
                    <label>Additional notes or special instructions for us
                    {% render_field form.notes class+="form-control" %}</label>
                </div>


                <div class="col-xs-12 text-right">
                    <div class="submit-button-wrapper">
                        <button type="submit" value="Submit" class="btn btn-lg btn-success">Send this request</button>
                        <button onClick='location.href="{% url 'index' %}"' class="btn btn-lg btn-default">Cancel</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1">
            <div class="photo-wrapper">
                <img src="https://s3.amazonaws.com/h2oflint/church_outdoors_with_volunteer_lines_landscape.jpg">
            </div>
            <div class="caption">
                <p><b>A rock in the heart of the community</b>: Morbi et risus ultricies, aliquet metus et, dignissim odio. Sed venenatis mauris nec neque posuere, eget accumsan erat fringilla. Aliquam ut aliquam ipsum. Vestibulum vulputate sit amet erat in dignissim. In eu facilisis enim, id tempus ligula. Mauris ac nunc orci. Maecenas sodales porta ligula quis sollicitudin. Pellentesque sed neque gravida magna consectetur bibendum sit amet et quam.</p>
            </div>
        </div>
    </div>
</div>



{% endblock %}